

HTTP/JSON API
Definitions:
quota value - The actual number associated with a quota, representing a limit on a resource. For example, for 5 CPU hours the 5 is the quota value, CPU hours is the resource type (probably shortened to just “cpu”).
usage value - The current amount of a resource used. Counted against a quota. For example, if the user has run analyses that consumed 10 CPU hours, then their usage value is 10 and the resource type is CPU hours. If their quota value for CPU usage is 5 CPU hours, then they’ve gone over their quota.

Suggested endpoints/routes:
GET /plans - Returns a listing of the supported plans, along with their default quota values.
GET /plans/{plan-id} - Returns details on a single plan, including its default quota values..
GET /resources - Lists the resources supported for tracking.
GET /users/{username}/plan - Returns the details on the currently enabled plan for the user with the actual quota and usage values currently set for that user (in other words, not necessarily the default values. Should come from the quotas table)..
GET /users/{username}/quotas - Returns all of the quotas for the user. Allow callers to use query parameters to filter by resource type. Example GET /users/{username}/quotas?resource=cpu.
GET /users/{username}/usages - Returns all of the usages for the user. Allow callers to use query parameters to filter by resource type. Example GET /users/{username}/usages?resource=data.
GET /users/{username}/quotas/{quota-id} - Gets a single quota for the user.
GET /admin/quotas - Returns all of the active quotas for all users. Should probably use query parameters to support filtering for quotas for a particular user and/or resource type. Example: GET /admin/quotas?username=wregglej&resource=cpu.
PUT /admin/quotas/{quota-id} - Updates the quota.
GET /admin/usages - Returns all of the active usages for all users. Should probably use query parameters to support filtering for usages for a particular user or resource type. Example: GET /admin/usage?username=wregglej&resource=data.
POST /admin/usages - Updates usages in the QMS database. The request body should contain the username, resource type, update type, usage adjustment value, and effective date.
